@media  (max-width: 1598px) and (min-width: 525px){
    body{
        overflow-x: hidden;
    }
    .main__content{
        width: 46%;
    }
    .main__text{
        width: 90%;
    }
    .main__title{
        width: 90%;
    }
    .main__desc{
        width: 100%;
    }
    .main__logo{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .top__card{
        flex: 0 1 30%;
        transform: scale(0.7);
    }
    .top__cards{
        gap: 0;
    }
    .top__card__img{
        width: 100%;
    }
    .collector__list{
        gap: 0;
    }
    .collector__item{
        transform: scale(.8);
    }
    .sellers__btn{
        margin: 0 auto;
    }
    .header {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 11px;
    }
    .header__list{
        left: 0;
    }

}
@media  (max-width: 1138px) and (min-width: 525px){
    .main{
        justify-content: space-around;
    }
    .main__content{
        width: 80%;
    }
    .top__card__init{
        display: none;
    }
    .top__slider{
        display: block;
    }


}
@media  (max-width: 1056px) and (min-width: 525px){
    .body.lock{
        overflow: hidden;
    }
    .header{
        margin-top: 23px;
        justify-content: space-between;
    }
    .header__icon{
        background: url("../img/mobile/ocean-logo.png") no-repeat ;
        margin-top: 3px;
        margin-left: -3px;
    }
    .header__nav{

        display: block;
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background: #402049;
        padding-left: 38px;
        transition: all 0.3s ease 0s;

    }
    .header__nav.active{
        text-align: center;
        top: 0;
    }
    .header__list, .user{
        display: block;
        left: 0;
        padding: 0;

    }
    .header__list{
        margin-top: 62px;
    }
    .header__item{
        margin-bottom: 15px;
    }
    .header__link{
        color: #FFFFFF;
    }
    .link-mob{
        display: block;
    }
    .user{
       display: none;
    }
    .header__burger{
        display: block;
        position: relative;
        width: 22px;
        height: 20px;
        bottom: 2px;
    }

    .header__burger span{
        position: absolute;
        background-color: #FFFFFF;
        border-radius: 24px;
        left: 8px;
        width: 59%;
        height: 2.6px;
        top: 9px;
        transition: all 0.3s ease 0s;


    }
    .header__burger:before,
    .header__burger:after{
        content: ' ';
        background-color: #FFFFFF;
        border-radius: 24px;
        position: absolute;
        width: 100%;
        height: 2.6px;
        left: 0;
        transition: all 0.3s ease 0s;

    }
    .header__burger:before{
        top: 0;
    }
    .header__burger:after{
        bottom: 0;
    }
    .header__burger.active:before{
        transform: rotate(45deg);
        top: 8px;

    }
    .header__burger.active:after{
        transform: rotate(-45deg);
        bottom: 9px;

    }
    .header__burger.active span{
        transform: scale(0);
    }
    .main__title{
        font-size: 52px;
    }
    .main__text {
        width: 100%;
    }

}
@media  (max-width: 1440px){
    .top__card__init{
        display: none;
    }
    .collector__init{
        display: none;
    }
}


@media  (max-width: 1479px){
    .collection__item{
        flex: 0 1 43%;
    }
}
@media  (max-width: 1200px){
    .collection__item{
        flex: 0 1 38%;
        background: url(../img/mobile/collection_border.png) no-repeat;
        background-size: 100% 100%;
        font-size: 17px;
        height: 61px;
        line-height: 61.39px;
        margin: 0;
    }
    .collection__img img{
        width: 300px;
    }
    .collection__list{
        gap: 30px;
    }
}
@media  (max-width: 643px){
    .collection{
        display: block;
    }
    .collection__item{
        flex: 0 1 155px;
        background: url(../img/mobile/collection_border.png) no-repeat;
        font-size: 11px;
        height: 43px;
        line-height: 43.39px;
        margin: 0;

    }
    .collection__list{
        display: flex;
        flex-wrap: wrap;
        margin: 20px auto;
        gap: 16.5px;
    }
    .collection__btn{
        font-size: 8.3px;
        margin-top: -2.5px;
        margin-right: 29px;
    }
    .collection__btn:after{
        content: ' ';
        position: absolute;
        width: 24px;
        right: 24px;

        height: 9px;
        background: url("../img/mobile/collectors-arrow.png") no-repeat;
    }
    .collection__btn img{
        display: none;
    }
    .collection__img{
        margin-top: 4px;
        margin-left: 73px;
    }
    .collection__img img{
        width: 186px;
    }
}
@media  (max-width: 781px) {
    .question__block{
        transform: scale(0.8);
        right: 7px;
    }
}


