/*font-family: 'Aldrich', sans-serif;*/
/*font-family: 'Inter', sans-serif;*/
/*font-family: 'League Spartan', sans-serif;*/
/*font-family: 'Orbitron', sans-serif;*/
/*font-family: 'Rajdhani', sans-serif;*/
/*font-family: 'Roboto', sans-serif;*/
a{
    text-decoration: none;
}

body{
    background-image: url("../img/backgrounds/full_back.png");

}
.container{
    width: 87.125%;
    margin: 0 auto;
}


.header{
    display: flex;
    align-items: center;
    margin-top: 11px;
}

.header__logo{
    display: flex;
    align-items: center;
    margin-top: -2px;
    margin-left: 2px;
    z-index: 5;

}
.header__icon{
    width: 140.18px;
    height: 29.43px;
    background: url("../img/ocean_logo.svg") no-repeat ;
    background-size: cover;
}
.header__burger{
    display: none;
    z-index: 5;
}
.header__nav{
    display: flex;
    align-items: center;
    gap: 41px;
    position: relative;

    right: -45%;
}
.header__list{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    gap: 66.33px;
    margin-top: 11px;
    position: relative;
    left: -71.3%;
    margin-bottom: 11px;

}
.header__link{
    text-decoration: none;
    font-family: 'Orbitron', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.6);
}
.user{
    margin-right: 11px;
    display: flex;
    gap: 44.5px;
}

.user__bucket{
    width: 24.5px;
    height: 24.56px;
    background: url("../img/icons/bucket.svg") center no-repeat;
    background-size: 100%
}
.user__profile{
    width: 24.5px;
    height: 24.56px;
    background: url("../img/icons/profile.svg");
    background-size: 100%

}
.main__content{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main__title{
    font-family: 'League Spartan', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 82px;
    line-height: 110.4%;

    color: #FFFFFF;
    width: 761px;
}
.main__title1{
    margin: 0;
    word-spacing: -5px;
    letter-spacing: calc(125*.02px);

}
.main__title2{
    margin: 0;
    word-spacing: -5px;
    letter-spacing: calc(140*.02px);
}
.main__word{
    background-image: linear-gradient(80deg, #FF56F6, #43A5E3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.main__desc{
    margin-top: -48px;
    margin-left: -4px;
    font-family: 'Rajdhani', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26.531px;
    line-height: 44px;
    color: #FFFFFF;
    width: 700px;
}
.main__buttons{
    display: flex;
    align-items: center;
    gap: 37.59px;
    margin-top: 41px;

}
.main__btn1{
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 19.8983px;
    background: url("../img/button.svg");
    color: #FFFFFF;
    width: 224.83px;
    height: 68.12px;
    line-height: 68.12px;
    margin-left: -6px;
    padding-left: 30px;
}
.main__arrow {
    margin-left: 11px;
    padding-top: 3px;
}
.main__btn{
    margin-left: 39px;
}
.main__btn2{
    text-decoration: none;
    font-family: 'Orbitron', sans-serif;
    font-style: normal;
    font-weight: 700;
    margin-left: -3px;
    font-size: 19.8983px;
    background: linear-gradient(89.89deg, #42A6E3 2.33%, #FF56F6 101.4%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.main__link1{
    text-decoration: none;
}

.main__list{
    display: flex;
    list-style-type: none;
    text-align: center;
    margin-top: 68px;
    font-family: 'Aldrich', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 39.7965px;
    gap: 38px;
    margin-left: -4px;
    padding-left: 0;

}
.main__list__margin{
    margin-left: 7px;

}

.main__item{
    color: #FFFFFF;
    border-right: 1.10546px solid rgba(255, 255, 255, 0.26);

}
.main__item:last-child{
    border-right: none;
}
.main__span {
    display: block;
    color: white;
    font-size: 39.79px;
    font-weight: 400;
    margin-bottom: -18px;
    padding-right: 16px;
}
.main__list__padding{
    padding-right: 23px;
}

.item__img1{
    margin-left: -70px;
}
.item__img2{
    margin-left: -56px;
}
.item__img3{
    margin-left: -88px;
}
.main__logo{
    display: flex;
    align-items: center;
    margin-top: 76px;
    gap: 133px;
}
.item1{
    margin-top: 5px;
}
.item2{
    margin-top: 3px;
}
.item3{
    margin-top: 18px;
}
.main__text{

}
.main__side{
    margin-left: 131px;
    margin-top: 54px;
    position: relative;
    width: 771.93px;
    height: 540.57px;;
}
.main__img{
    width: 402px;
    height: 485px;
    background: url("../img/nft/abstract.png");
}
.main__card{
    position: absolute;
    bottom: -1px;
    right: 6px;
    background: url("../img/frontBlur.png");
    width: 336.06px;
    height: 181.3px;
    display: flex;
    gap: 22.4px;

}
.card__left{
    padding-left: 24.41px;
    padding-top: 23.64px;
}
.card__right{
    padding-top: 27.64px;
}
.card__title{
    width: 148.13px;
    font-family: 'Rajdhani', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17.6873px;
    color: #FFFFFF;
    margin-bottom: 9px;
}
.card__user{
    display: flex;
    align-items: center;
    gap: 3.32px;
}
.card__teg{
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Rajdhani',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15.4764px;
}
.card__desc{
    font-family: 'Rajdhani', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 11.0546px;
    color: #FFFFFF;
    opacity: 0.7;
    margin-top: 21px;
    margin-bottom: 7px;

}
.card__price{
    display: flex;
    align-items: center;
    gap: 2.53px;
    margin-left: -5px;

}
.card__eth{
    font-family: 'Orbitron',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 9.71776px;
    color: #FFFFFF;
}
.card__logo{
    width: 19.44px;
    height: 19.44px;
}
.card__dollar{
    font-family: 'Rajdhani',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11.0546px;
    color: #FFFFFF;
    opacity: 0.7;
    margin-top: 2px;
    margin-left: 4px;
}
.card__list{
    padding-left: 0;
    text-align: center;
    margin-top: 0;
    margin-left: 4px;
}
.card__nums{
    display: flex;
    align-items: center;
    font-family: 'Rajdhani',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17.6873px;
    line-height: 35px;
    color: #FFFFFF;
    gap: 27px;
    margin-top: -7px;
    margin-left: 5px;
}
.card__margin{
    margin-left: 4px;

}
.card__items{
    display: flex;
    align-items: center;
    margin-top: -6px;
    margin-left: 3px;
}

.card__item{
    font-family: 'Rajdhani',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 11.0546px;
    color: #C6BBCB;
    margin-right: 19px;

}
.card__span {
    display: block;
    color: white;
    font-family: 'Rajdhani',sans-serif;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 1.5px;
    font-size: 17.6873px;
}
.card__link{
    text-decoration: none;
    color: #FFFFFF;
}
.card__btnborder{
    position: relative;
    width: 123.39px;
    height: 41.59px;
    background: red;
    background: linear-gradient(271.23deg, #FFA6FA 50%, #3C79D4 90%);
    border-radius: 4.21px;
    margin-top: 29px;
}
.card__btn{
    position: absolute;
    width: 119.39px;
    top:2.5px;
    left: 2px;
    height: 37.59px;
    line-height:37.59px;
    text-align: center;
    box-shadow: 0 4.81747px 116.824px rgba(255, 86, 246, 0.51);
    background: linear-gradient(92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
    border-radius: 2.21092px;
    font-family: 'Rajdhani', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17.6873px;
}
.card__arrow{
    margin-bottom: 2px;
    width: 24.32px;
    margin-left: 6px;

}

.card__auction{
    font-family: 'Rajdhani', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 11.0546px;
    color: #FFFFFF;
    opacity: 0.7;
    margin-bottom: 7px;
    margin-top: 12px;
    margin-left: 10px;
}
.top__header{
    display: flex;
    justify-content: space-between;
    font-family: 'Orbitron',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26.531px;
    color: #FFFFFF;
    margin-top: 213px;
}
.top__header__btn{
    margin-right: 19px;

}
.top__header__arrow{
    padding-bottom: 4px;
    margin-right: 19px;
    margin-top: -31px;
    width: 42px;
}
.top__cards{
    display: flex;
    gap: 34.5px;
    margin-top: 47px;

}
.top__header__title{

}
.top__card__content{
    display: flex;
    background: url("../img/card_border.svg");
    width: 438.06px;
    height: 236.3px;
    margin-top: -2px;
    backdrop-filter: blur(25.8003px);
}
.top__card__title{
    width: 148.13px;
    font-family: 'Rajdhani', sans-serif;
    font-style: normal;
    white-space: nowrap;
    font-weight: 700;
    font-size: 23.0401px;
    color: #FFFFFF;
    margin-bottom: 9px;
    margin-top: 16px;

}
.top__card__user{
    display: flex;
    margin-top: 12px;
    align-items: center;
    gap: 4.32px;
}
.top__card__avatar{
    width: 37px;
    height: 37px;
}
.top__card__teg{
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Rajdhani',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20.16px;
}
.top__card__icon{
    padding-left: 2px;
    width: 17px;
    height: 17px;
}
.top__card__desc{
    font-family: 'Rajdhani', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14.4px;
    color: #FFFFFF;
    opacity: 0.7;
    margin-top: 27px;
    margin-bottom: 7px;
}
.top__card__price{
    margin-top: 11px;
    display: flex;
    align-items: center;
    gap: 6.53px;
    margin-left: -1px;
}
.top__card__logo{
    width: 16.44px;
    height: 25.44px;
}
.top__card__eth{
    font-family: 'Orbitron',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12.66px;
    color: #FFFFFF;
    margin-top: -1px;


}
.top__card__dollar{
    font-family: 'Rajdhani',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14.4px;
    color: #FFFFFF;
    opacity: 0.7;
    margin-top: 1px;
    margin-left: 2px;
}
.top__card__left{
    padding: 30px 31px;
}
.top__card__right{
    padding-top: 38.64px;
    padding-left: 31px;
}
.top__card__auction{
    font-family: 'Rajdhani', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14.4px;
    color: #FFFFFF;
    opacity: 0.7;
    margin-bottom: 7px;
    margin-top: 12px;
    margin-left: 13px;
}
.top__card__list{
    padding-left: 0;
    text-align: center;

}
.top__card__nums{
    display: flex;
    align-items: center;
    font-family: 'Rajdhani',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 23.6873px;
    line-height: 35px;
    color: #FFFFFF;
    margin-top: -3px;
    margin-left: 10px;

}
.top__card__num{
    width: 30px;
    margin-right: 25px;

}
.top__card__items{
    display: flex;
    align-items: center;
    margin-top: -3px;
    margin-left: 11px;
}
.top__card__item{
    margin: 0 27px 0 -2px;
    font-family: 'Rajdhani',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14.4546px;
    color: #C6BBCB;
}

.top__card__btnborder{
    position: relative;
    width: 162.39px;
    height: 53.59px;
    background: red;
    background: linear-gradient(271.23deg, #FFA6FA 50%, #3C79D4 90%);
    margin-top: 39px;
}
.top__card__link{
    text-decoration: none;
    color: #FFFFFF;
}
.top__card__btn{
    position: absolute;
    width: 157.52px;
    top: 2.5px;
    left: 2.5px;
    height: 48.96px;
    line-height: 47.96px;
    text-align: center;
    box-shadow: 0 4.81747px 116.824px rgba(255, 86, 246, 0.51);
    background: linear-gradient(92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
    font-family: 'Rajdhani', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22.4px;
}
.top__card__arrow{
    margin-bottom: 1px;
    width: 31.32px;
    margin-left: 10px;

}
.collection{
    display: flex;
}
.collection__title{
    font-family: 'Orbitron',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26.531px;
    color: #FFFFFF;
    margin-top: 211px;
    margin-left: 1.5px;
}
.collection__list{
    display: flex;
    flex-wrap:wrap;
    margin-left: -22px;
    margin-top: 25px;
}
.collection__item{
    flex: 0 1 376.12px;
    width: 369.12px;
    height: 105px;
    line-height: 106.39px;
    background: url(../img/collection_border.png) no-repeat;
    background-size: 100% 100%;
    font-family: 'Orbitron', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26.531px;
    text-align: center;
    margin: 19px;
    color: rgba(255, 255, 255, 0.5);
}
.collection__item:hover{
    cursor: pointer;
    color: #FFFFFF;
    background: url(../img/collection_border_hover.png) no-repeat;
}
.collection__img{
    margin-top: 161px;
    margin-right: 46px;
}
.collection__btn{
    font-family: 'Orbitron',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 19.8983px;
    color: #FFFFFF;
    text-align: right;
    margin-top: 23px;
    margin-right: 139px;
    transition: 0.5s ease;
}
.collection__btn:hover{
    cursor: pointer;
    transform: scale(1.01);
}
.collector__header__btn{
    margin-right: 27px;

}
.collection__arrow{
    margin-left: 9px;
    margin-right: -9px;
    margin-top: 3px;


}
.collector__list{
    display: flex;
    gap: 36px;

}
.collectors__header{
    display: flex;
    justify-content: space-between;
    font-family: 'Orbitron',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26.531px;
    color: #FFFFFF;
    margin-top: 155px;
    margin-bottom: 49px;

}
.collector__arrow{

}
.collector__item{
    position: relative;
    flex: 0 1 437.76px;
    font-family: 'Rajdhani',sans-serif;
    backdrop-filter: blur(79.2003px);
    box-sizing: border-box;
    border: 2.8px solid #3B2E61;

}
.collector__avatar{
    position: absolute;
    top: 101px;
    left: 135px;
}
.collector__name{
    font-style: normal;
    font-weight: 500;
    font-size: 24.3201px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 65.5px;
    margin-left: 2px;
}
.collector__teg{
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 400;
    font-size: 20.1601px;
    color: #FFB1EE;
    margin-top: 7px;
    margin-left: 23px;
}
.collector__icon{
    width: 18px;
    margin-top: -2px;
    margin-left: 5px;

}
.collector__nums{
    margin-left: 54px;
    display: flex;
    margin-top: 31px;
    font-style: normal;
    font-weight: 600;
    font-size: 31.6897px;
    color: #FFFFFF;
    gap: 92px;
}
.collector_num{
    width: 46px;
    text-align: center;
}
.collector__info{
    display: flex;
    justify-content: space-around;
    font-style: normal;
    font-weight: 500;
    font-size: 19.8061px;
    color: #FFFFFF;
    opacity: 0.7;
    margin-top: 2px;
    padding: 0 9px;
}
.collector__btn{
    background: url("../img/btn_back_grad.png");
    font-style: normal;
    font-weight: 400;
    font-size: 19.8983px;
    color: #FFFFFF;
    text-align: center;
    width: 240.84px;
    height: 55.85px;
    line-height: 50.8px;
    margin-top: 41px;
    margin-left: 100px;
    margin-bottom: 36px;
    box-shadow: 0 4.81747px 116.824px rgba(255, 86, 246, 0.51);
}
.sellers{
    font-family: 'Roboto',sans-serif;
    margin-top: 162px;


}
.sellers__title{
    font-family: 'Orbitron',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26.531px;
    color: #FFFFFF;
    text-align: center;
    margin-left: -3px;
    margin-bottom: 25.5px;

}
.sellers__desc{
    font-style: normal;
    font-weight: 400;
    font-size: 17.6873px;
    color: #FFFFFF;
    width: 506.3px;
    margin: 0 auto;
    text-align: center;
    line-height: 25px;
    padding-left: 5px;
    margin-bottom: 57px;

}
.sellers__list{
    display: flex;
    flex-wrap: wrap;

}
.seller__item{
    flex: 0 1 33%;
    display: flex;
    position: relative;
    background: url("../img/sellers_border.png") no-repeat;
    font-style: normal;
    font-weight: 500;
    align-items: center;
    height: 123.81px;
    color: #FFFFFF;
    margin-bottom: 34.27px;
    margin-right: 13px;
}
.seller__num{
    position: absolute;
    font-size: 19.0479px;
    opacity: 0.8;
    padding-left: 29.63px;
}
.margin-left-minus8{
    margin-left: -8px;
}
.seller__avatar{
    width: 69.64px;
    margin-top: 1px;
    padding-left: 16.22px;
    margin-left: 41px;

}
.seller__name{
    font-style: normal;
    font-weight: 500;
    font-size: 19.0479px;
    padding-left: 12.4px;
    margin-top: -1px;
}
.seller__eth {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 13.7568px;
    opacity: 0.8;
    padding-left: 14px;
    margin-top: 16px;
}
.seller__icon{
    padding-right: 3px;

}
.seller__percent{
    position: absolute;
    bottom: 36px;
    right: 45px;
    font-weight: 500;
    width: 100.6px;
    height: 35.37px;
    font-size: 14.7012px;
    color: #00FF66;
    text-align: center;
    line-height: 35.37px;
    background: url("../img/seller_percent.png");
    margin-left: 62.61px;
    margin-top: 16px;
}
.sellers__btn{
    width: 235px;
    margin: 24px auto;
    letter-spacing: calc(-3*.02px);
    word-spacing: 1px;
    padding-left: 7px;
    font-size: 18px;
}
.minus-margin{
    margin-right: -15px;
}
.red-back{
    background: url("../img/seller_border_red.png");
    color: red;
}
.question{
    position: relative;
    background: url("../img/backgrounds/purpule.png");
    height: 556px;
    margin-top: 159px;
    margin-left: -4px;

}
.question__block{
    position: absolute;
    top: 216px;
    right: 143px;
    font-family: 'Inter',sans-serif;
    font-style: normal;
    color: #FFFFFF;
    background: url(../img/question_back.png) no-repeat;
    width: 581.05px;

}
.question__title{
    font-weight: 800;
    font-size: 43.5093px;
    text-align: center;
    margin-top: 62px;
    margin-bottom: 26px;
    margin-left: -55px;
    letter-spacing: calc(40.51 *0.05px);
    word-spacing: -4px;

}
.question__desc{
    font-weight: 400;
    font-size: 20.0292px;
    line-height: 35.7px;
    width: 458.45px;
    margin-left: 75px;
    margin-bottom:49px;
    letter-spacing: calc(3 *0.05px);


}
.question__btns{
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    margin-left: 78px;
    margin-bottom: 55px;

}
.question__btns a{
    text-decoration: none;
    color: #FFFFFF;

}
.question__learn{
    letter-spacing: calc(20.51 *0.05px);
}
.question__watch{
    margin-left: 44px;
}
.question__btn{
    display: block;
    margin-top: -22px;
    margin-left: 23px;
    letter-spacing: calc(20.51 *0.05px);
}
.subscribe{
    display: flex;
    margin-top: 293.63px;
    margin-left: -45px;
    margin-bottom: 160.37px;

}
.subscribe__img{
    width:698.65px;
    height:289.63px;
    background: url("../img/backgrounds/back_yellow.png") no-repeat;
    margin-left:48px;
}
.subscribe__content{
    font-family: 'Inter',sans-serif;
    color: #FFFFFF;
    width: 490.82px;
    margin-left: 76.28px;
    margin-top: 7px;

}
.subscribe__title{
    font-family: 'Orbitron',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 39.7965px;

}
.subscribe__desc{
    font-weight: 400;
    line-height: 35px;
    width: 490px;
    margin-top: 30px;
    font-size: 19.9px;
    letter-spacing: calc(2.51 *0.05px);
}
.subscribe__form{
    display: flex;
    margin-top: 48px;

}
.subscribe__input{
    width: 240.15px;
    height: 52.06px;
    padding: 0 16px;
    margin-left: -2px;
    border-radius: 5.5273px 0 0 5.5273px;
    background: #F4F5F7;
}
.subscribe__btn{
    background:url("../img/subscribe_btn.png") no-repeat;
    text-align: center;
    font-weight: 500;
    font-size: 15.4764px;
    width: 149.71px;
    height: 53.64px;
    line-height: 53.64px;
    margin-left: 4px;
    box-shadow: 0px 4.81747px 116.824px rgba(255, 86, 246, 0.51);

}
.subscribe__line{
    width: 1338.71px;
    height: 1.11px;
    background: #FFFFFF;
    opacity: 0.2;
}
footer{
    
    font-family: 'Inter',sans-serif;

}
.footer__content{
     display: flex;
    margin-top: 101px;
    margin-left: 77px;
    margin-bottom: 74px;

}
.footer__social{
    flex: 0 0 320px;
}

.footer__logo{
    width: 139.18px;
    height: 25.43px;
    background: url("../img/footer-logo.png") no-repeat ;
    background-size: cover;
    margin-top: -3px;

}
.footer__desc{
    font-weight: 400;
    font-size: 15.4764px;
    line-height: 26px;
    color: #D9DBE1;
    width: 281.89px;
    margin-top: 36px;
    letter-spacing: calc(2*.05px);

}
.footer__icons{
    display: flex;
    gap:17px;
    margin-top: 27px;

}

.footer__links{
    flex: 1 1 auto;
    margin-left: 53px;
    margin-top: -20px;
    letter-spacing: calc(3*.05px);

}
.links_headers{
    display: flex;
    font-weight: 500;
    font-size: 19.8983px;
    color: #FFFFFF;
    gap: 33.16px;
}
.footer__link{
    width: 176.87px;

}
.links_headers a {
    color: #FFFFFF;
}
.links__items{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2px;


}
.links__item{
    position: relative;
    flex: 0 1 176.87px;
    font-weight: 400;
    font-size: 15.4764px;
    line-height: 27px;
    color: #D9DBE1;
    margin-bottom: 13px;
    margin-right: 33px;
    letter-spacing: calc(2 * 0.05px);
}
.footer__terms {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 15.4764px;
    line-height: 27px;
    color: #D9DBE1;
    margin-top: 27px;
    margin-bottom: 61px;
    padding: 0 75px;
    margin-right: 128px;
    letter-spacing: calc(1*.05px);
}
.footer__new{
    position: absolute;
    background: url("../img/new.svg");
    width: 45px;
    height: 12px;
    right: 57px;
    top: 9px;
}
.footer__right{
    display: flex;
    gap: 9.5px;
    margin-right: -19px;
    margin-top: -3px;

}
