/*font-family: 'Aldrich', sans-serif;*/
/*font-family: 'Inter', sans-serif;*/
/*font-family: 'League Spartan', sans-serif;*/
/*font-family: 'Orbitron', sans-serif;*/
/*font-family: 'Rajdhani', sans-serif;*/
/*font-family: 'Roboto', sans-serif;*/

body{
    background-image: url("../img/backgrounds/full_back.png");
}
.container{
    width: 1393.98px;
    margin: 0 auto;
}


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    display: flex;
    align-items: center;
    margin-top: -3px;
}
.header__icon{
    width: 144.18px;
    height: 29.43px;
    background: url("../img/ocean_logo.svg") no-repeat ;
    background-size: cover;
}
.header__list{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    list-style-type: none;

    gap: 66.33px;
    padding-right: 309px;
}
.header__link{
    text-decoration: none;
    font-family: 'Orbitron', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.6);
}
.user{
    margin-right: 15px;
    display: flex;
    gap: 44.5px;
}

.user__bucket{
    width: 22.5px;
    height: 21.56px;
    background: url("../img/icons/bucket.svg") center no-repeat;
    background-size: 100%
}
.user__profile{
    width: 22.1px;
    height: 22.1px;
    background: url("../img/icons/profile.svg");
    background-size: 100%

}
.main__content{
    margin-top: 23px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main__title{
    font-family: 'League Spartan', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 82px;
    line-height: 111.4%;
    letter-spacing: calc(82*.01px);
    color: #FFFFFF;
}
.main__word{
    background-image: linear-gradient(80deg, #FF56F6, #43A5E3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.main__desc{
    margin-top: 20px;
    margin-left: -4px;
    font-family: 'Rajdhani', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26.531px;
    line-height: 44px;
    color: #FFFFFF;
}
.main__buttons{
    display: flex;
    align-items: center;
    gap: 37.59px;
}
.main__btn1{
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 19.8983px;
    background: url("../img/button.svg");
    color: #FFFFFF;
    width: 249.83px;
    height: 64.12px;
    line-height:64.12px;

}
.main__btn2{
    text-decoration: none;
    font-family: 'Orbitron', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 19.8983px;
    background: linear-gradient(89.89deg, #42A6E3 2.33%, #FF56F6 101.4%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.main__link1{
    text-decoration: none;
}

.main__list{
    display: flex;
    list-style-type: none;
    padding-left: 0;
    text-align: center;

}

.main__item{
    font-family: 'Aldrich', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 39.7965px;
    color: #FFFFFF;
    border-right: 1.10546px solid rgba(255, 255, 255, 0.26);
    padding-right: 30px;
    padding-left: 30px;

}
.main__item:last-child{
    border-right: none;
}
.main__span {
    display: block;
    color: white;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: -18px;
}
.main__logo{
    display: flex;
    justify-content: space-between;
}
.main__text{


}
.main__side{
    position: relative;
    width: 771.930px;
    height: 540.57px;
}
.main__img{
    width: 402px;
    height: 485px;
    background: url("../img/nft/abstract.png");
}
.main__card{
    position: absolute;
    bottom: 0;
    right: 0;
    background: url("../img/card_back.svg");
    width: 336.06px;
    height: 181.3px;
    backdrop-filter: blur(25.8003px);
    display: flex;
}
.card__left{
    padding-left: 30px;
    padding-top: 30px;
}
.card__title{
    width: 148.13px;
    height: 35.37px;
        font-family: 'Rajdhani', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17.6873px;
    color: #FFFFFF;
}
.card__user{
    display: flex;
    align-items: center;
    gap: 3.32px;
}
.card__teg{
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Rajdhani',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15.4764px;
}
